#contentBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 120px;
}

.contentCard{
    height: 550px;
    width: 350px;
    background-color: darkslategray;
    border-radius: 10px;
    margin-top: 20px;
}

.contentImage {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    background-size: cover;
    filter: blur(8px);
}

.contentCard h2, .contentCard p {
    color: whitesmoke;
    margin: 15px;
}
.contentCard h2 {
    font-size: 20px;
}

.contentCard p {
    font-size: 14px;
}

.contentCard:hover{
    background-color: rgb(31, 53, 53);
    transform: scale(1.10);
    z-index: 1;
    transition: all 1s ease;
}

.contentCard:hover .contentImage {
    filter: blur(0px);
    transition: all 1s ease;
}

#buttonZone{
    display: flex;
    padding-top:  150px;
    height: 25px;
    width: 100%;
    justify-content: center;
}

.randomCard {
    filter: blur(0px);
}

h3 {
    color: whitesmoke;
    margin-left: 15px;
}