header {
    height: 100px;
    width: 100%;
    background-color: rgb(17, 28, 28);
    position: fixed;
    z-index: 2;
    border-radius: 10px;
}

header h1 {
    color: whitesmoke;
    margin: 25px;
}